 <div class="panel panel-default">
                    <div class="panel-heading">
                    LIVE FEED -USER
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    <!-- Nav tabs -->
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#chart-pills" data-toggle="tab">Chart view</a></li>
                            <li><a href="#map-pills" data-toggle="tab">Map View</a>
                            </li>
                            <li><a href="#table-pills" data-toggle="tab">Table View</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                        <div class="tab-pane fade" id="chart-pills">
                        <chart></chart>         
                            </div>

                            <div class="tab-pane fade" id="table-pills">
                            <h4>Table</h4>
                            <p>Table</p>
                            </div>
                            <div class="tab-pane fade" id="map-pills">
                            <h4>Map</h4>
                            <p>Map</p>
                            </div>
                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>